* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
  background: url("../../../assets/images/Asian-skyline.jpg") no-repeat center center/cover;
}

/* Center container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Login Card */
.login-card {
  background: #fff;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 10px;
}

.login-card p {
  color: #666;
  margin-bottom: 20px;
}

.login-card label {
  display: block;
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
}

.login-card input[type="email"],
.login-card input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Button */
button {
  width: 100%;
  padding: 10px;
  background: orange;
  border: none;
  color: white;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

/* Register */
.register {
  font-size: 12px;
  margin-top: 10px;
}

.register a {
  color: orange;
}